.root {
  display: flex;
}

.container {
  width: 256px;
  /* display: flex; */
  flex-direction: column;
  padding: 32px;
  overflow-y: auto;
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.05) inset;
  background: rgba(105, 112, 155, 0.8);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: width 1s;
  z-index: 9;
}

.responsive-buttons {
  background: #fff;
  color: #2c356c;
  display: none;
  text-align: center;
  margin: 8px;
  width: 29px;
  height: 29px;
  line-height: 29px;
  border-radius: 8px;
}

.spacer {
  display: none;
}

@media screen and (max-width: 1124px) {
  .root {
    position: relative;
  }

  .container {
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    right: -45px;
    background: rgba(105, 112, 155);
    height: 100%;
  }
  .spacer {
    display: block;
    width: 45px;
  }
  .container:not(.open) {
    width: 45px;
    padding: 0;
  }
  .container:not(.open) *:not(:first-child) {
    display: none;
  }
  .container *:not(:first-child) {
    margin-left: 16px;
    margin-right: 16px;
  }
  .container .responsive-buttons {
    display: block;
  }
}
