.outer {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -32px;
  margin-right: -32px;
  padding-left: 32px;
  padding-right: 32px;
}

.outer:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(128, 133, 168, 0.7);
}

.inner {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 26px;
  margin-left: 8px;
  margin-right: 10px;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: relative;
  left: -20px;
  bottom: -8px;
}

.username {
  font-size: 20px;
  flex-grow: 1;
}

.unread {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #00B1FF;
  margin-right: 16px;
}

.position {
  margin-right: 16px;
  font-size: 14px;
  font-style: italic;
}

.selected {
  background: #ffffff;
  color: rgb(105, 112, 155);
}

.selected:hover {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ffffff;
}