.container {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #a6aac4;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid #a6aac4;
  color: #000;
}

.boat {
  background-color: #346391;
  color: #fff;
}

.hit {
  background-color: #55bb55;
  color: #fff;
}

.miss {
  background-color: #ff5555;
  color: #fff;
}

#current-boat {
  position: absolute;
  background-color: #346391;
  width: 22px;
  height: 22px;
  pointer-events: none;
}
