input {
  border: 0;
  border-radius: 3px;
  flex-grow: 1;
  /* width: 224px; */
  width: 90%;
  height: 24px;
  display: block;
  margin: 0;
  margin-top: -8px;
  margin-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 11pt;
}

input::placeholder {
  color: #9599b5;
  font-style: italic;
}
