<div class="root">
  <div class="scroller">
    <div>
      <div class="row" [ngClass]="{'user': isUser(message), 'opponent': !isUser(message)}" *ngFor="let message of (this.messages)">
        <div class="message">{{message.content}}</div>
      </div>
    </div>
  </div>

  <form class="bottom row">
    <input id="message" placeholder="Scrivi messaggio..." type="text" [(ngModel)]="messageBoxContent" name="message" />
    <button type="submit" (click)="messageSend()" class="button">Invia</button>
  </form>
</div>