.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;
}

.background {
  background: rgba(44, 53, 108, 0.4);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.spacer {
  flex-grow: 1;
}

.header {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 18px;
  margin-bottom: 18px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  font-size: 45px;
  align-items: center;
}

.header .logo img {
  margin-right: 18px;
  background: #ffffff;
  border-radius: 100%;
  padding: 4px;
  width: 64px;
}

.header .right {
  display: flex;
  align-items: center;
  position: relative;
}

.header .right .username {
  font-size: 20px;
  margin-right: 16px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.header .right .account {
  margin-left: 12px;
  font-size: 30px;
}

.body-container {
  background: rgb(105, 112, 155);
  color: #ffffff;
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 32px;
  display: flex;
}

.spacer {
  flex: 1;
}

.users {
  max-width: 600px;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

h1 .material-icons {
  font-size: 50px;
  margin-right: 16px;
}

.users .user {
  padding: 16px;
  margin: 2px;
  background: #ffffff;
  color: #2c356c;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
}

.users .user .user-icon {
  margin: 0;
  margin-right: 16px;
  font-size: 35px;
}

.users .user .username {
  font-size: 20px;
  font-weight: bold;
  margin-right: 32px;
}

.users .user .email {
  font-style: italic;
  margin-right: 16px;
}

.users .user .text {
  align-items: center;
  justify-content: space-between;
}

.users .user div {
  display: flex;
}

.users .user .button {
  display: flex;
  align-items: center;
  padding: 4px;
  margin-right: 8px;
  border-width: 2px;
}

.users .user .red {
  background: linear-gradient(#9f2a2a, #913434);
  border: 2px solid #ff4800;
  margin-right: 0;
}

.users .user .red:hover {
  background: linear-gradient(rgb(196, 43, 43), #913434);
}
