.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;
}

.background {
  background: #2c356c;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}

.spacerFlex {
  flex-grow: 1;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 18px;
  margin-bottom: 18px;
  min-height: 64px;
  display: flex;
  align-items: center;
}

.header .logo {
  display: flex;
  font-size: 55px;
}

.header .logo .logo-placeholder {
  width: 64px;
  height: 64px;
  background: #ffffff;
  margin-right: 18px;
  border-radius: 32px;
}

.header .right {
  display: flex;
  align-items: center;
  position: relative;
}

.header .right .username {
  font-size: 20px;
  margin-right: 16px;
}

.header .right .account {
  font-size: 50px;
}

.body-container {
  display: flex;
  background: #a6aac4;
  color: #2c356c;
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.sidebar {
  display: flex;
  background: rgb(105, 112, 155);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nouser-container {
  padding: 32px;
  color: #ffffff;
}

.nouser-container h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.nouser-container p {
  font-size: 20px;
}

.ztop {
  z-index: 2;
}

app-chat {
  flex-grow: 1;
  width: 400px;
  display: flex;
}

app-game-area {
  flex-grow: 4;
  display: flex;
}

.right:hover .user-modal {
  display: block;
}

.user-modal {
  position: absolute;
  top: 48px;
  right: 32px;
  width: 230px;
  background: #ffffff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: none;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-modal a {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin: 8px;
  margin-left: 32px;
  margin-right: 8px;
  color: #2c356c;
  text-decoration: none;
}

.user-modal a i {
  margin-left: 16px;
}
