<div class="container">
    <div class="background">
        <div class="header">
            <div class="logo">
                <div class="logo-placeholder"></div>SeaDuel</div>
            <div class="spacer"></div>
            <div class="right">
                <div class="username">Benvenuto,
                    <b>
                        <i>giulioz</i>
                    </b>
                </div>
                <div class="material-icons account">
                    account_circle
                </div>
            </div>
        </div>
        <div class="body-container">
            <div class="main">
                <div class="column spacer">
                    <app-account-header></app-account-header>
                    <app-chat></app-chat>
                </div>
                <div class="column">
                    <app-game-area></app-game-area>
                </div>
            </div>
            <app-sidebar class="sidebar" [selectedUser]="selectedUser"></app-sidebar>
        </div>
    </div>
</div>