<div class="container">
  <div class="background">
    <div class="header">
      <div class="logo">
        <div class="logo-placeholder"></div>SeaDuel</div>
      <div class="spacer"></div>
      <div class="right">
        <div class="username">Benvenuto,
          <b>
            <i>{{userName}}</i>
          </b>
        </div>
        <div class="material-icons account">
          account_circle
        </div>
        <div class="user-modal">
          <a href="/my">Il mio account
            <i class="material-icons">
              perm_contact_calendar
            </i>
          </a>
          <a *ngIf="authService.getUserToken().role === 'administrator'" href="/admin">Amministrazione
            <i class="material-icons">
              build
            </i>
          </a>
          <a href="#" (click)="logout()">Esci
            <i class="material-icons">
              exit_to_app
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="spacer column" *ngIf="(route.url | async)[0].path === 'user'">
        <app-account-header class="ztop" [user]="selectedUser | async"></app-account-header>
        <div class="spacerFlex">
          <app-chat></app-chat>
          <app-game-area></app-game-area>
        </div>
      </div>
      <div class="spacer nouser-container" *ngIf="(route.url | async)[0].path === 'ingame'">
        <h1>Benvenuto su SeaDuel</h1>
        <p>Seleziona un utente a lato per cominciare a giocare.</p>
        <p>Puoi cercare un utente se conosci il suo nome oppure selezionarne uno in attesa per giocare.</p>
      </div>
      <app-sidebar class="sidebar"></app-sidebar>
    </div>
  </div>
</div>