<div class="container" [ngClass]="{full: !opponentId}">
  <!-- <video loop autoplay muted>
    <source src="assets/background.webm" type="video/webm" />
    <source src="assets/background.mp4" type="video/mp4" />
  </video> -->
  <!-- <img src="assets/background_static.png" class="videoback" /> -->
  <app-wave-background></app-wave-background>
  <div class="background">
    <div class="header">
      <div class="logo">
        <img src="assets/boat.svg" height="64px" />SeaDuel
      </div>
      <div class="spacer right">
        <div class="username">Benvenuto,
          <b>
            <i> {{currentUser.id}}</i>
            <div class="position">{{currentUser.wonGames + " vinte / " + currentUser.lostGames + " perse"}}</div>
          </b>
        </div>
        <div class="material-icons account">
          account_circle
        </div>
        <div class="user-modal">
          <a [routerLink]="['/my']">Il mio account
            <i class="material-icons">
              perm_contact_calendar
            </i>
          </a>
          <a *ngIf="currentUser.role === 'administrator'" [routerLink]="['/admin']">Amministrazione
            <i class="material-icons">
              build
            </i>
          </a>
          <a href="#" (click)="logout()">Esci
            <i class="material-icons">
              exit_to_app
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="body-container">
      <div class="body-background">
        <div class="spacer column" *ngIf="opponentId">
          <div class="spacerFlex">
            <div class="column spacer ordered">
              <app-account-header class="ztop" [user]="opponent"></app-account-header>
              <app-chat [opponentId]="opponentId" [messages]="messages"></app-chat>
            </div>
            <app-game-area [opponentId]="opponentId" [game]="game" (needsUserUpdate)="updateUser()" (needsGameUpdate)="updateGame()"></app-game-area>
          </div>
        </div>
        <div class="spacer nouser-container" *ngIf="!opponentId">
          <div class="spacer">
            <h1>Benvenuto su SeaDuel</h1>
            <p>Seleziona un utente a lato per cominciare a giocare.</p>
            <p>Puoi cercare un utente se conosci il suo nome oppure selezionarne uno in attesa per giocare.</p>
          </div>
          <div class="material-icons big-icon">
            arrow_forward
          </div>
        </div>
      </div>
      <app-sidebar class="sidebar" [finds]="finds" [friends]="friends" [waiting]="waiting" [top]="top" (find)="onFind($event)"></app-sidebar>
    </div>
  </div>
</div>