.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #ffffff;
}

.videoback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  filter: brightness(50%) contrast(200%);
}

.background {
  background: rgba(44, 53, 108, 0.4);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

app-wave-background {
  /* flex-grow: 1; */
}

.spacer {
  flex-grow: 1;
}

.spacerFlex {
  flex-grow: 1;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 18px;
  margin-bottom: 18px;
  min-height: 64px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.header .logo {
  display: flex;
  font-size: 55px;
  align-items: center;
}

.header .logo img {
  margin-right: 18px;
  background: #ffffff;
  border-radius: 100%;
  padding: 4px;
  width: 64px;
}

.header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .right .username {
  font-size: 20px;
  margin-right: 16px;
}

.header .right .position {
  font-size: 13px;
  text-align: right;
  font-style: italic;
}

.header .right .account {
  font-size: 50px;
}

.body-container {
  display: flex;
  color: #2c356c;
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.15);
}

.body-background {
  background: #a6aac4;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-grow: 1;
}

.sidebar {
  display: flex;
}

.nouser-container {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: rgb(105, 112, 155);
  padding: 32px;
  color: #ffffff;
  display: flex;
}

.nouser-container h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
}

.nouser-container p {
  font-size: 20px;
}

.ztop {
  z-index: 2;
}

app-chat {
  flex-grow: 1;
  display: flex;
}

app-game-area {
  flex-grow: 1;
  display: flex;
}

.right:hover .user-modal {
  display: block;
}

.user-modal {
  position: absolute;
  top: 48px;
  right: 32px;
  width: 230px;
  background: #ffffff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: none;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-modal a {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  margin: 8px;
  margin-left: 32px;
  margin-right: 8px;
  color: #2c356c;
  text-decoration: none;
}

.user-modal a i {
  margin-left: 16px;
}

.big-icon {
  font-size: 100px;
}

@media screen and (max-width: 1124px) {
  .body-container {
    margin: 8px;
  }
  .ordered {
    order: 2;
  }
  .container {
    height: 100%;
  }
  .spacerFlex {
    flex-direction: column;
  }
}