/* Splash */

.home-splash-container {
    background-color: #2C356C;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10vh;
}

.home-splash-container .material-icons {
    font-size: 17pt;
}

.home-splash-container .top-bar .centering {
    padding-right: 8px;
    height: 1em;
}

.home-splash-container .top-bar {
    text-align: right;
    padding-top: 5vh;
    padding-bottom: 13vh;
    padding-right: 10vw;
    font-size: 17pt;
    display: flex;
    align-items: center;
}

.home-splash-container .top-bar .spacer {
    flex-grow: 1;
}

.home-splash-container .logo {
    background-color: #FFFFFF;
    width: 25vw;
    height: 28vh;
    margin: auto;
    margin-bottom: 2vh;
}

.home-splash-container .title {
    font-size: 80pt;
    margin-top: 0;
    margin-bottom: 2vh;
}

.home-splash-container .subtitle {
    font-size: 28pt;
    margin-top: 0;
    margin-bottom: 4vh;
}

.home-splash-container .button {
    font-size: 25pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Description */

.home-description-container {
    background-color: #245686;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 9vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 20pt;
}

.home-description-container .text {
    max-width: 800px;
    margin: auto;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.home-description-container .title {
    font-size: 40pt;
    padding-bottom: 2vh;
}

/* Carousel */

.home-carousel-container {
    background-color: #193696;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.home-carousel-container .title {
    font-size: 33pt;
    padding-bottom: 5vh;
}

.home-carousel-container .carousel {
    background-color: #FFFFFF;
    height: 44vh;
}

/* Register */

.home-register-container {
    background-color: #2C356C;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 20pt;
}

.home-register-container .title {
    font-size: 33pt;
    padding-bottom: 5vh;
}

.home-register-container .box {
    background-color: #8086A7;
    border-radius: 10px;
    max-width: 440px;
    width: 100%;
    margin: auto;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

.home-register-container input {
    border: 1px solid #A6AAC4;
    border-radius: 3px;
    height: 32px;
    width: 100%;
    max-width: 300px;
    margin: auto;
    display: block;
    margin-bottom: 22px;
}

.home-register-container input::placeholder {
    color: #9599B5;
    font-style: italic;
    padding-left: 10px;
    font-size: 11pt;
}

.home-register-container .button {
    font-size: 13pt;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.home-register-container .disclamier {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 9pt;
}

.home-register-container a {
    color: #FFFFFF;
}

/* Footer */

.home-footer-container {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 6vh;
}