a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Splash */

.splash-container {
    background-color: #2C356C;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10vh;
}

.splash-container .material-icons {
    font-size: 17pt;
}

.splash-container .top-bar .centering {
    height: 1em;
    display: flex;
    align-items: center;
}

.splash-container .top-bar .centering span {
    padding-left: 8px;
}

.splash-container .top-bar {
    text-align: right;
    padding-top: 5vh;
    padding-bottom: 13vh;
    padding-right: 10vw;
    font-size: 17pt;
    display: flex;
    align-items: center;
}

.splash-container .top-bar .spacer {
    flex-grow: 1;
}

.splash-container .logo {
    background-color: #FFFFFF;
    width: 25vw;
    height: 28vh;
    margin: auto;
    margin-bottom: 2vh;
}

.splash-container .title {
    font-size: 80pt;
    margin-top: 0;
    margin-bottom: 2vh;
}

.splash-container .subtitle {
    font-size: 28pt;
    margin-top: 0;
    margin-bottom: 4vh;
}

.splash-container .button {
    font-size: 25pt;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Description */

.description-container {
    background-color: #245686;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 9vh;
    padding-left: 20vw;
    padding-right: 20vw;
    font-size: 20pt;
}

.description-container .text {
    max-width: 800px;
    margin: auto;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.description-container .title {
    font-size: 40pt;
    padding-bottom: 2vh;
}

/* Carousel */

.carousel-container {
    background-color: #193696;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 20vw;
    padding-right: 20vw;
}

.carousel-container .title {
    font-size: 33pt;
    padding-bottom: 5vh;
}

.carousel-container .carousel {
    background-color: #FFFFFF;
    height: 44vh;
}

/* Register */

.register-container {
    background-color: #2C356C;
    color: #FFFFFF;
    text-align: center;
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 20pt;
    display: flex;
}

.flexgrow {
    flex-grow: 1;
}

.register-container .title {
    font-size: 33pt;
    padding-bottom: 5vh;
}

/* Footer */

.footer-container {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 6vh;
}