<div class="root">
  <div class="material-icons center-icon" *ngIf="currentState(game | async) == 'Ended'">
    arrow_upward
  </div>
  <div class="center-message" *ngIf="currentState(game | async) == 'Ended'">
    Premi
    <strong>Sfida</strong> per cominciare la partita
  </div>

  <div class="material-icons center-icon" *ngIf="currentState(game | async) == 'WaitingForResponse'">
    watch_later
  </div>
  <div class="center-message" *ngIf="currentState(game | async) == 'WaitingForResponse'">
    Sfida inviata. Risposta in attesa...
  </div>

  <div class="center-message" *ngIf="currentState(game | async) == 'BoatsPositioning'">
    Posiziona le tue Navi
  </div>
</div>